.aimGame {
  color: #fff;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.start {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
}
.start:hover {
  color: #16D9E3;
}

.timer {
  font-size: 32px;
  margin-bottom: 20px;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  -webkit-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(#29323C), to(#485563));
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}
.screen__title {
  line-height: 1.4;
  font-size: 4rem;
  margin-bottom: 10px;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  -webkit-box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
          box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: -webkit-gradient(linear, left top, right top, from(#16D9E3), color-stop(47%, #30C7EC), to(#46AEF7));
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.returnGame {
  font-size: 26px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.returnGame:hover {
  color: #bde0ff;
  border-color: #bde0ff;
}